* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --white: hsl(0, 100%, 100%);
}

body {
  min-height: 100vh;
  background-color: var(--very-dark-blue);
  background-image: url(../images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 125%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--white);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo-container__main {
  background-color: var(--dark-blue);
  margin-right: 1.875rem;
  width: 18.75rem;
  height: 10.625rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 5.625rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2.1875rem;
}

.logo-container__second {
  display: flex;
  margin-top: 1.5625rem;
}

.logo-around {
  background-color: var(--very-dark-blue);
  margin-right: 0.625rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4375rem;
}

.storage-container {
  background-color: var(--dark-blue);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28.125rem;
  height: 8.125rem;
  padding-left: 2.1875rem;
}

.article-container span {
  font-weight: 700;
}

.article-container {
  width: 90%;
}

.gradient-container__main {
  width: 91%;
  height: 0.875rem;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.625rem 0;
  border-radius: 3.125rem;
}

.gradient-container {
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  width: 75%;
  height: 0.625rem;
  border-radius: 3.125rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.white-dot-container {
  background-color: var(--white);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.size-article {
  font-size: 0.75rem;
  width: 90%;
}

.size-container span {
  float: right;
}

@media only screen and (max-width: 37.5rem) {
  body {
    background-image: url(../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .storage-container {
    width: 18.75rem;
  }

  .logo-container__main {
    margin-right: 0rem;
    margin-bottom: 1.25rem;
  }
}
